# [Downloading the Dataset](https://www.kaggle.com/tondji/jobs-data-for-recommender-systems)

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
import os
os.environ['KAGGLE_USERNAME'] = "richadwivedi"
os.environ['KAGGLE_KEY'] = "1462d815580695348ef4bf8d3edfbfbe"

!kaggle datasets download -d tondji/jobs-data-for-recommender-systems

Downloading jobs-data-for-recommender-systems.zip to /content
 31% 5.00M/16.0M [00:00<00:00, 37.1MB/s]
100% 16.0M/16.0M [00:00<00:00, 63.3MB/s]

In [ ]:
from zipfile import ZipFile

with ZipFile('jobs-data-for-recommender-systems.zip', 'r') as zipObj:
   zipObj.extractall()

# Impoting Libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as map
import matplotlib.pyplot as plt


#To ignore warnings.
import warnings
warnings.filterwarnings('ignore')

#saving model
from sklearn.externals import joblib

# Loading the Dataset

In [ ]:
df_all_offers = pd.read_csv('ALL_Offers.csv')

In [ ]:
df_offers = pd.read_csv('offers.csv')

In [ ]:
df_org = pd.read_csv('organizations.csv')

# Exploratory Data Analysis

 Data Analysis of All_offers.csv

---

In [ ]:
#Let's understand the data
df_all_offers.head()

   posted_by_id  ...                                             skills
0             1  ...                   {'skills': {'communication': 1}}
1             2  ...  {'skills': {'communication': 1, 'consulting': ...
2             3  ...  {'skills': {'collaboration': 1, 'reporting': 1...
3             4  ...  {'skills': {'collaboration': 1, 'ensemble': 1,...
4             5  ...  {'skills': {'collaboration': 1, 'leadership': 1}}

[5 rows x 8 columns]

In [ ]:
#Number of Rows in the dataset
print("Number of Rows are:",df_all_offers.shape[0])

Number of Rows are: 8867

In [ ]:
#Number of Columns/features in dataset
print("Number of Columns are:",df_all_offers.shape[1])

Number of Columns are: 8

In [ ]:
#List of Available features in dataset
print("Available Features are:",df_all_offers.columns.tolist())

Available Features are: ['posted_by_id', 'status', 'city', 'job_title', 'organization_id', 'contracts', 'description', 'skills']

In [ ]:
# Let's checkout which feature contains which kind of values i.e int /float /etc or what is the data type of values.
print(df_all_offers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8867 entries, 0 to 8866
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   posted_by_id     8867 non-null   int64
 1   status           8867 non-null   object
 2   city             8867 non-null   object
 3   job_title        8867 non-null   object
 4   organization_id  8867 non-null   int64
 5   contracts        8867 non-null   object
 6   description      8867 non-null   object
 7   skills           8867 non-null   object
dtypes: int64(2), object(6)
memory usage: 554.3+ KB
None

In [ ]:
#Checking is their any missing values are available in the dataset

print("Missing values:\n ",df_all_offers.isnull().sum())

Missing values:
  posted_by_id       0
status             0
city               0
job_title          0
organization_id    0
contracts          0
description        0
skills             0
dtype: int64

In [ ]:
# check for duplicate values
df_all_offers.duplicated().sum()

141

In [ ]:
#checing number of unique values available in each column
df_all_offers.nunique()

posted_by_id       1345
status                1
city               1020
job_title          6770
organization_id    1345
contracts            52
description        8707
skills             2950
dtype: int64

Data Analysis of offers.csv

---

In [ ]:
#Let's understand the data
df_offers.head()

   user_id  ...                                             skills
0       55  ...  {'skills': {'training': 1, 'certifications': 1...
1       90  ...  {'skills': {'hardware': 2, 'communication': 1,...
2        2  ...  {'skills': {'communication': 4, 'e-commerce': 1}}
3        3  ...  {'skills': {'mobile': 1, 'communication': 2, '...
4        4  ...  {'skills': {'training': 4, 'designer': 1, 'pro...

[5 rows x 8 columns]

In [ ]:
#Number of Rows in the dataset
print("Number of Rows are:",df_offers.shape[0])

Number of Rows are: 252

In [ ]:
#Number of Columns/features in dataset
print("Number of Columns are:",df_offers.shape[1])

Number of Columns are: 8

In [ ]:
#List of Available features in dataset
print("Available Features are:",df_offers.columns.tolist())

Available Features are: ['user_id', 'status', 'city', 'job_title', 'organization_id', 'contracts', 'description', 'skills']

In [ ]:
# Let's checkout which feature contains which kind of values i.e int /float /etc or what is the data type of values.
print(df_offers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          252 non-null    int64
 1   status           252 non-null    object
 2   city             252 non-null    object
 3   job_title        252 non-null    object
 4   organization_id  252 non-null    int64
 5   contracts        252 non-null    object
 6   description      252 non-null    object
 7   skills           252 non-null    object
dtypes: int64(2), object(6)
memory usage: 15.9+ KB
None

In [ ]:
#Checking is their any missing values are available in the dataset

print("Missing values:\n ",df_offers.isnull().sum())

Missing values:
  user_id            0
status             0
city               0
job_title          0
organization_id    0
contracts          0
description        0
skills             0
dtype: int64

In [ ]:
# check for duplicate values
df_offers.duplicated().sum()

0

In [ ]:
#checing number of unique values available in each column
df_offers.nunique()

user_id            200
status               1
city               213
job_title          222
organization_id    200
contracts            1
description          1
skills             151
dtype: int64

Data Analysis of Users.csv

---

In [ ]:
#Let's understand the data
df_org.head()

   organization_id           company_name  ... size sectors
0                0           BARON & DECK  ...   MC      PT
1                1  HILLSIDE TERRACE APTS  ...   BG      VA
2                2    GEORGE B LEWIS APTS  ...   MC      GD
3                3          F A A AIRPORT  ...   MD      MA
4                4     BON JOUR ANSWERING  ...   ST      GD

[5 rows x 6 columns]

In [ ]:
#Number of Rows in the dataset
print("Number of Rows are:",df_org.shape[0])

Number of Rows are: 201

In [ ]:
#Number of Columns/features in dataset
print("Number of Columns are:",df_org.shape[1])

Number of Columns are: 6

In [ ]:
#List of Available features in dataset
print("Available Features are:",df_org.columns.tolist())

Available Features are: ['organization_id', 'company_name', 'email', 'address', 'size', 'sectors']

In [ ]:
# Let's checkout which feature contains which kind of values i.e int /float /etc or what is the data type of values.
print(df_offers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          252 non-null    int64
 1   status           252 non-null    object
 2   city             252 non-null    object
 3   job_title        252 non-null    object
 4   organization_id  252 non-null    int64
 5   contracts        252 non-null    object
 6   description      252 non-null    object
 7   skills           252 non-null    object
dtypes: int64(2), object(6)
memory usage: 15.9+ KB
None

In [ ]:
#Checking is their any missing values are available in the dataset

print("Missing values:\n ",df_org.isnull().sum())

Missing values:
  organization_id    0
company_name       0
email              0
address            0
size               0
sectors            0
dtype: int64

In [ ]:
# check for duplicate values
df_org.duplicated().sum()

0

In [ ]:
#checing number of unique values available in each column
df_org.nunique()

organization_id    201
company_name       106
email              201
address            201
size                 4
sectors              5
dtype: int64

Combining the Datasets

---

In [ ]:
#Combining the dataset Offers.csv and Org.csv
df_combined1=pd.merge(df_offers,df_org)
df_combined1.head()

   user_id     status           city  ...                     address  size sectors
0       55  published     HOMERVILLE  ...  1018 1ST AVE APT 1229 # 7A    MC      PT
1       90  published        DEMOTTE  ...          10051 SANDRIDGE RD    BG      VA
2        2  published           CARY  ...            10964 54TH ST SE    MC      GD
3       22  published  CHICAGO RIDGE  ...            10964 54TH ST SE    MC      GD
4        3  published      SKOWHEGAN  ...             10826 WALNUT ST    MD      MA

[5 rows x 13 columns]

In [ ]:
#Number of Rows in the dataset
print("Number of Rows are:",df_combined1.shape[0])
#Number of Columns/features in dataset
print("Number of Columns are:",df_combined1.shape[1])

Number of Rows are: 252
Number of Columns are: 13

In [ ]:
#Combining the Datasets All_offers.csv and Org.csv
df_combined1['contracts'].unique()

array(['AL'], dtype=object)

In [ ]:
jobs = df_combined1['job_title'].unique()
jobs

array(['Medical Receptionist', 'Clinical Research Associate',
       'Territory Sales Representative', 'Endoscopy Nurse', 'Bus Driver',
       'Foreign Service Officer', 'Sales Analyst', 'Strategy Consultant?',
       'Pipeline Engineer', 'Cost Engineer', 'Technical Writer',
       'Solutions Consultant - Electrical Engineering', 'Power Regulator',
       'Conservation Technician', 'Manager of Engineering',
       'Forecast Systems Manager', 'Water Services Technician',
       'Front Desk Associate',
       'Senior Analyst Retail Analytics and Reporting',
       'Total Quality Management Director', 'Aviation Inside Sales',
       'HVAC Mechanic', 'Cognos Business Development Architect',
       'School Social Worker', 'International Education Coordinator',
       'Treasurer', 'Pipefitter',
       'Manufacturing Customer Service Representative',
       'Laboratory Sales Consultant', 'Quality Assurance Manager',
       'Customer Service Agent', 'Night Auditor',
       'Process Control Engineer', 'Business Intelligence Developer',
       'Concrete Finisher', 'Solid Waste Field Technician',
       'Healthcare Consultant', 'Producer Travel Channel',
       'Organic Lab Worker', 'Attorney', 'Compliance Engineer',
       'Research and Development Tester', 'Quality Associate/Validation',
       'Chief of Career Pathways and Integrated Learning',
       'Executive Conference Manager', 'Assistant Coach',
       'IT Support Staff', 'Cardiovascular Operating Room Nurse',
       'Meeting Specialist', 'Vice Principal',
       'Cyber Intelligence Watch Officer', 'Freelance Travel Writer',
       'Assistant General Manager', 'Account Executive',
       'Catering Account Manger', 'Process Engineer', 'Catering Manager',
       'Roadie', 'Research and Development Technician',
       'Front Desk Attendant', 'Human Resources Assistant',
       'Station Agent', 'Sales and Marketing Coordinator',
       'Solar Installers', 'Environmental Project Analyst',
       'Travel Consultant', 'Stationary Engineer', 'Material Handler',
       'Healthcare Business Intelligence Manager',
       'Senior Competitive Intelligence Manager',
       'Quality Assurance Technologist', 'Component Engineer',
       'Threat Intelligence Analyst', 'Staff Assistant - Accounting',
       'Metal Building Erector', 'Environmental Services Representative',
       'Staff Engineer', 'Assistant Technician', 'Project Manager',
       'Maintenance Engineer', 'Engineering Technician',
       'Director of Hotel Sales',
       'Solution Architect Business Intelligence', 'Mutual Fund Analyst',
       'Market Access Associate', 'Operations Research Analysis Manager',
       'Bellman', 'Real Estate Appraiser', 'Human Resources Director',
       'Crew Scheduling Manager', 'Controller',
       'Senior Manager Yield and Revenue Management',
       'Transportation Project Manager', 'Chemical Technician',
       'Investment Advisor', 'Oceanographer', 'Sales Coordinator',
       'Concierge',
       'Institutional Research Business Intelligence Systems Analyst',
       'Producer', 'Commercial Sales Representative',
       'Electrical Design Engineer', 'Marketing Consultant',
       'Senior Manager of Industry Analytics', 'Valet Parker',
       'Organic Lab Research Assistant', 'Pharmacy Assistant', 'Lineman',
       'Compensation Manager', 'Golf Pro', 'Principal Service Engineer',
       'Retail Sales Associate', 'Group Sales Management',
       'Club Representative', 'Client Service Specialist',
       'Operations Agent', 'Operations Clerk',
       'Technical Support Engineer', 'Special Education Teacher',
       'Heavy Equipment Technician', 'Travel Secretary',
       'Benefit Coordinator', 'Reservoir Engineer', 'Quality Assistant',
       'Ethics Office Business Intelligence Officer', 'Chemical Engineer',
       'Government Contract Consultant', 'Electronics Engineer',
       'General Manager', 'Event Coordinator', 'Software Developer',
       'Corporate Sales Manager',
       'Director of? Customer Success and Satisfaction',
       'Laboratory Assistant', 'Assistant Customer Care Center Manager',
       'Technical Trainer', 'Manufacturing Specialist',
       'Piping Stress Engineer', 'RF Engineer', 'Rental Representative',
       'Data Architect', 'Organizational Development Consultant',
       'Drilling Engineer', 'Hostess', 'School Nurse',
       'Behavior Specialist', 'Construction Engineer',
       'Corporate Reservations Agent', 'Chef', 'Athletic Scout',
       'Provisioning Agents', 'Environmental Compliance Engineer',
       'Senior Mechanical Engineer', 'Customer Support Associate',
       'Associate Producer Events', 'Airline Pilot', 'Sales Manager',
       'Computer Science Teacher', 'Territory Service Representative',
       'Corporate Recruiter', 'Ground Support Equipment Mechanic',
       'Software Engineer - Data Warehouse/Business Intelligence',
       'Network Engineer', 'Global Development Specialist', 'Fabricator',
       'Technology Consultant', 'Patient Care Coordinator',
       'Senior Manager Product Intelligence and Cost Analytics',
       'Countertop Fabricator and Installer', 'Cruise Ship',
       'Commercial Print Management Consultant',
       'Instrumentation Engineer', 'Competitive Intelligence Manager',
       'Firmware Engineer', 'Dermatology Nurse',
       'International Travel Consultant', 'Production Assistant Events',
       'Alarm Technician', 'Sports Physician', 'Guest Room Sales Manager',
       'Hunting Guide', 'Server', 'Guest Services Agent',
       'Wedding Sales Manager', 'Concierge?',
       'Industrial Technology Teacher', 'Front Desk Clerk', 'Tax Advisor',
       'Patio Room Installer', 'Vice President of Engineering',
       'Change Management Consultant', 'Financial Analyst',
       'Online Customer Support', 'Cook', 'Associate Athletic Director',
       'Front Desk Manager', 'Tile Setter', 'Technology Research Manager',
       'Rotating Equipment Engineer', 'Director of Hotel Operations',
       'Front End Load Driver', 'Oracle Technical Lead',
       'Informatica Extract Transform Load (ETL) Developer',
       'Mining Safety Engineer', 'Passenger Service Agent',
       'Director of Guidance', 'Service Consultant', 'Account Manager',
       'Business Objects Architect', 'Assistant Principal',
       'Integration/Business Intelligence Technical Lead',
       'Choral Music Teacher', 'Quality Control Engineer',
       'Conference Coordinator', 'Strength and Conditioning Coach',
       'Field Technician', 'Manager Special Events', 'Referee',
       'Controls Engineer', 'Implementation Consultant',
       'Health/Physical Education Teacher', 'Mechanical Engineer'],
      dtype=object)

In [ ]:
len(jobs)

222

In [ ]:
newdf = df_combined1[['user_id', 'job_title','skills']]
newdf

     user_id  ...                                             skills
0         55  ...  {'skills': {'training': 1, 'certifications': 1...
1         90  ...  {'skills': {'hardware': 2, 'communication': 1,...
2          2  ...  {'skills': {'communication': 4, 'e-commerce': 1}}
3         22  ...                      {'skills': {'e-commerce': 1}}
4          3  ...  {'skills': {'mobile': 1, 'communication': 2, '...
..       ...  ...                                                ...
247      196  ...  {'skills': {'ai': 2, 'hardware': 1, 'internet'...
248      197  ...  {'skills': {'reporting': 2, 'ai': 5, 'communic...
249      198  ...  {'skills': {'certifications': 1, 'ai': 6, 'boo...
250      199  ...             {'skills': {'mobile': 1, 'design': 1}}
251      200  ...  {'skills': {'reporting': 2, 'ai': 5, 'communic...

[252 rows x 3 columns]

In [ ]:
skillss = []
for j in jobs:
  skillss.append(newdf.loc[newdf['job_title'] == j]['skills'])
skillss

In [ ]:
skillss[0]

0     {'skills': {'training': 1, 'certifications': 1...
33    {'skills': {'training': 1, 'certifications': 1...
Name: skills, dtype: object